#flag-icon {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 512px) {
    #flag-icon {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 384px) {
    #flag-icon {
        height: 60px;
        width: 60px;
    }
}