#explorebd .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 6rem;
}

#explorebd .swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
}

#explorebd .swiper-slide img {
    display: block;
    width: 100%;
}

#explorebd .swiper-slide-shadow-left,
#explorebd .swiper-slide-shadow-right {
    border-radius: 24px;
}

#explorebd .swiper-wrapper {
    margin-bottom: 20px;
}

#explorebd .swiper-pagination-bullet {
    background: #ffb700;
}

#explorebd .swiper-button-next,
#explorebd .swiper-button-prev {
    color: #ffb700;
}

@media screen and (max-width: 512px) {
    #explorebd .swiper {
        padding-bottom: 0rem;
    }
}

@media screen and (max-width: 768px) {
    #explorebd .swiper {
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: 1536px) {
    #explorebd .swiper-pagination {
        padding: 2px 0;
    }
}